/*File that defines the drawing of the pokémon Butterfree*/

body{
  background-color: #5b5475;
  font-size: 100px;
}

/* This defines the centralized position of the pokemon in
a manner that it changes while you decrease the window size */
#butterfree{
  position: absolute;
  width: 4em;
  height: 3em;
  text-align: center;
  display: inline-block;
  margin-top: 8%;
  margin-left: calc(50% - 1.5em);
}

/* Drawing of the eye with compatibility in the transform
for Chrome, Firefox, IE, Opera and Safari */
.eye {
  width: .67em;
  height: .92em;
  border: .03em solid black;
  background: #b35550;
  border-radius: 100%;
  position: absolute;
}

.eye.right{
  right: .6em;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.eye.left{
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}

/*Defines the first inner circle in the eye*/
.eye::after {
  width: .35em;
  height: .5em;
  border: .03em solid transparent;
  background: #de817a;
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  margin-left: .09em;
  opacity: 0.5;
}

/*Defines the most inner circle in the eye*/
.eye::before {
  width: .2em;
  height: .3em;
  background: #edc6c2;
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  margin-left: .2em;
  margin-top: .03em;
  opacity: 0.8;
}

/* Defines the back portion of the nose */
.nose{
  width: .67em;
  height: .33em;
  border: .03em solid black;
  background: #5a93ad;
  border-radius: 100%;
  position: absolute; 
  margin-top: .7em;
  margin-left: 1.3em;
}

/* Defines the front (lighter) portion of the nose */
.nose::after{
  background-color: #97becc;
  opacity: 0.5; 
  width: .4em;
  height: .21em;
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  margin-left: .13em;
}

/* Creates the little teeth */
.tooth{ 
  width: 0;
  height: 0;
  position: absolute;
  border-right: .05em solid transparent;
  border-left: .05em solid transparent;
  border-top: .1em solid white;
  top: 1em;
  z-index: -1;
}

/* Rotates and separate the little teeth */
.tooth.right{
  left: 1.9em;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.tooth.left{
  left: 1.35em;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

/* Creates the rounded portion of the hand */
.hand{
  position: absolute;
  height: .6em;
  width: .3em;
  border-radius: 0 .5em .5em 0;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #5a93ad;
  top: 2em;
}

/* Creates the triangles which are fingers */
.hand .fingers,
.hand .fingers::after,
.hand .fingers::before{
  width: 0;
  height: 0;
  position: absolute;
  border-top: .1em solid transparent;
  border-bottom: .1em solid transparent;
  border-right: .15em solid #5a93ad;
}

/*Separate the fingers*/
.hand .fingers{
  right: .3em; 
}

.hand .fingers::after{
  content: '';
  display: block;
  right: -.15em;
  top: .1em;
}

.hand .fingers::before{
  content: '';
  display: block;
  right: -.15em;
  top: .3em;
}

.hand.left{
  left: .5em;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.hand.right{
  right: 1.2em;
}

/*Creates the black border in the triangles/fingers
because we can't use the CSS border attribute directly*/
.fingers .shadow,
.fingers .shadow::after,
.fingers .shadow::before{
  width: 0;
  height: 0;
  position: absolute;
  border-top: calc(.13em - 1px) solid transparent;
  border-bottom: calc(.13em - 1px) solid transparent;
  border-right: calc(.18em - 1px) solid black;
  z-index: -1;
}

.fingers .shadow{
  right: -.15em;
  top: -.12em;
}

.fingers .shadow::after{
  content: '';
  display: block;
  margin-top: .08em;
}

.fingers .shadow::before{
  content: '';
  display: block;
  margin-top: .28em;
}