/*File that defines the drawing of the pokémon*/

body{
  background-color: #b59581;
  font-size: 100px;
}

/* This defines the centralized position of the pokemon in
a manner that it changes while you decrease the window size */
#diglett{
  position: absolute;
  width: 4em;
  height: 3em;
  text-align: center;
  display: inline-block;
  margin-top: 10%;
  margin-left: calc(50% - 1.3em);
}

/* Drawing of the black portion of the eye */
.eye {
  width: .37em;
  height: .92em;
  border: .03em solid black;
  background: #242424;
  border-radius: 100%;
  position: absolute;
}

.eye.right{
  right: 1.5em;
}

/* Drawing of the white portion of the eye */
.eye::after {
  width: .15em;
  height: .25em;
  background: white;
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  margin-left: .09em;
  opacity: .8;
}

/* Drawing of the back portion of the nose */
.nose{
  width: 2.67em;
  height: 1.33em;
  border: .03em solid black;
  background: #b882a1;
  border-radius: 100%;
  position: absolute; 
  margin-top: 1.5em;
}

/* Drawing of the lighter portion of the nose */

.nose::after{
  background-color: #e3b8d3;
  opacity: 0.5; 
  width: 2.4em;
  height: 1.21em;
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  margin-left: .13em;
}